* {
    box-sizing: border-box;
}

.Card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    margin: 0;
    color: white;
    margin: 0 5em;
}

.Card:nth-child(odd) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    height: auto;
    margin-bottom: 10px;
    padding: 1em;
    background-color: hsl(226, 62%, 57%);
    box-shadow: 0 0 25px blue;
}

.Card:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 1em 0;
    background-color: hsl(226, 62%, 57%);
    box-shadow: 0 0 25px blue;
}

.Card__img {
    width: 50vw;
    height: auto;
    padding: 0.5em;
}

.Card__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    width: 50vw;
}

.Card__title {
    text-align: center;
    padding: 0;
    margin: 0;
    border-style: 20px;
    font-weight: 700;
    text-shadow: #b7dafb;
}

.Card__text {
    text-align: justify;
    margin: 1em 1em;
}

.Card__btn {
    width: fit-content;
    border-radius: 25px;
    background-color: aqua;
    border-color: transparent;
    padding: 1em;
    font-size: 1em;
}

@media screen and (max-width:1024px) {
    .Card__title {
        text-align: center;
        padding: 0.5em;
        margin: 0;
        font-size: 1.5em;
        border-style: 20px;
    }

    .Card__text {
        text-align: justify;
        margin: 0.5em;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 768px) {
    .Card:nth-child(odd) {
        display: flex;
        flex-direction: column;
    }

    .Card:nth-child(even) {
        display: flex;
        flex-direction: column;
    }

    .Card__img {
        width: 100%;
        position: relative;
        height: auto;
        border-radius: 2em;
        padding: 1em;
    }

    .Card__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%
    }

    .Card__text {
        margin: 0;
        padding: 1em;
        height: 5.2em;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .Card__btn {
        width: fit-content;
        border-radius: 25px;
        background-color: aqua;
        border-color: transparent;
        margin-top: 1em;
        font-size: large;
    }
}

@media screen and (max-width: 425px) {
    .Card__container {
        width: 90%;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
    }

    .Card:nth-child(odd) {
        padding: 0.5em;
    }

    .Card:nth-child(even) {
        margin-left: auto;
        margin-right: auto;
        padding: 0.5em;
    }

    .Card__img {
        width: 100%;
        position: relative;
        height: 300px;
        border-radius: 10%;
        border-style: solid;
        border-bottom: 0.5em;
    }
}