/***/
/*carrusel de clientes - inicio*/
.slider {
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slider .slidertrack {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scroll 60s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 400px;
    height: min-content;
}

.slider .slide img {
    width: 194px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}