/***/
/*Quienes somos - inicio*/
.section-quienessomos {
    width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-content: center;
    padding: 55px;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card-b {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 350px;
    max-width: 400px;
    padding: 20px;
}

.img-card {
    height: 250px;
}

.title-about {
    margin-bottom: 50px;
    border-style: 20px;
    font-size: 3rem;
    color: white;
    text-align: center;
    /* font-family: "Niconne", cursive; */
    font-weight: 700;
    text-shadow: #b7dafb;
}

.title__card {
    color: white;
    text-align: center;
    font-size: 44px;
    padding-top: 30px;
    text-shadow: 2px 2px 3px white;
}

.parrafo__card {
    text-align: justify;
    font-size: 24px;
    font-weight: 700;
    /* font-family: "Roboto"; */
    color: white;
}

/*Quienes somos - final*/
/***/
/***/
/*carrusel de clientes - inicio*/
.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;

}

.slider .slidertrack {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(400px * 10);
    gap: 5%;
    margin-bottom: 2em;
}

.slider .slide {
    width: 400px;

    height: min-content;
}
.slider .slide img{
    width: 100%;
}

@keyframes scroll{
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-400px * 5));
        transform: translateX(calc(-400px * 5));
    }
}