/***/
/*Quienes somos - inicio*/
.section-quienessomos {
    width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-content: center;
    padding: 55px;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card-b {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 350px;
    max-width: 400px;
    padding: 20px;
}

.img-card {
    height: 250px;
}

.title-about {
    margin-bottom: 50px;
    border-style: 20px;
    font-size: 3rem;
    color: white;
    text-align: center;
    /* font-family: "Niconne", cursive; */
    font-weight: 700;
    text-shadow: #b7dafb;
}

.title__card {
    color: white;
    text-align: center;
    font-size: 44px;
    padding-top: 30px;
    text-shadow: 2px 2px 3px white;
}

.parrafo__card {
    text-align: justify;
    font-size: 24px;
    font-weight: 700;
    /* font-family: "Roboto"; */
    color: white;
}

/*Quienes somos - final*/
/***/
/***/
/*carrusel de clientes - inicio*/
.c-clientes {
    margin-bottom: 50px;
    border-style: 20px;
    font-size: 3rem;
    text-align: center;
    color: #fcedd8;
    /* font-family: "Niconne", cursive; */
    font-weight: 700;
    text-shadow: #b7dafb;
}

.carrusel-clientes {
    width: 1300px;
    height: auto;
    overflow: hidden;
}

.carrusel-- {
    justify-content: center;
    align-items: center;
}

.carrusel-clientes .carrusel-- {
    display: flex;
    animation: scroll 60s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.carrusel-clientes .carrusel-img {
    width: 300px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.carrusel-clientes .carrusel-img img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

/*carrusel de clientes  - final*/
/***/
/***/
/***/
/***/
/*footer - inicio*/

/*Web Servicios*/
.card-img-top {
    width: 350px;
    height: 280px;
}

.title {
    /* font-family: "Lucida Sans"; */
    font-size: 40px;
    border-style: outset;
}

.title__card {
    text-align: center;
    padding-bottom: 10px;
    text-shadow: 2px 2px 3px #0b486b;
}

.parrafo__card {
    text-align: justify;
    color: black;
}