    .footer {
        background-color: #0b486b;
    }

    .footer__ {
        display: flex;
        width: 50%;
        gap: 5em;
        /* justify-content:space-between; */
    }

    .footer__main {
        width: 1300px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
        padding: 2em;
        color: #fff;
        gap: 5em;
    }

    .footer__right {
        display: flex;
        flex-direction: row;
        gap: 3em;
        align-items: center;
    }

    .footer__texto {
        margin-left: 0em;
        display: flex;
        flex-direction: column;
    }

    .footer__texto p {
        font-size: 20px;
        margin-bottom: 5px;
        text-decoration: none;
        text-align: left;
    }

    .footer__texto a {
        font-size: 1em;
        font-weight: 200;
        color: #fff;
    }

    .footer__logo {
        justify-content: center;
    }

    .footer__logo img {
        width: 200px;
        height: 150px;
    }

    .footer__rrss {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .footer__rrss h4 {
        font-size: 20px;
        text-align: center;
    }

    .footer-icon {
        display: flex;
        gap: 90px;
    }

    .footer__fb {
        width: 50px;
        height: 50px;
    }

    .footer__fb:hover {
        width: 50px;
        height: 50px;
        filter: drop-shadow(0 0 0.75rem #202cd2);
    }

    .btnwsp:hover {
        width: 50px;
        height: 50px;
        filter: drop-shadow(0 0 0.75rem #14ca14);
    }

    .footer_copyright {
        color: #fff;
        text-align: center;
        padding-bottom: 1em;
    }