.about-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 3em;
    background-image: url('../../../public/img/1.jpg');

}

/* .about-us-img {} */

.about-us-text {
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: "Work Sans", sans-serif;
    font-size: 2em
}