/*   Web  Contactos*/
.contact-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 2em;
}

form {
    width: 30em;
    height: 36.6em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    border: double aqua 5px;
}

.header-contact {
    width: 100%;
    height: 6rem;
    background-color: aqua;
}

.header-contact>h2,
.header-contact>p {
    color: #021330;
    /* text-align: left; */
    padding: 0.5rem;
    font-size: 2em;
    margin: 0;
}

.header-contact h2 {
    text-align: center;
}

.header-contact>p {
    font-size: 1rem;
}

.field-name,
.field-email,
.field-message {
    width: 90%;
    height: 4rem;
    display: flex;
    flex-direction: column;
    color: #40506c;
    margin: 1rem;
    border-radius: 1em;
}

.name {
    color: #ffffff;
}

.symbol-required::after {
    content: '*';
    color: #ff0000
}

.field-message {
    height: 9em;
}

.btn-send {
    width: 12rem;
    margin: 1em;
}

.btn-send:hover,
.btn-send:focus {
    background-color: aqua;
    color: #ffffff
}

/* Cards Contacts */
.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 2em; */
    margin-right: auto;
    margin-left: auto;
    border-radius: 1em;
    border: double aqua 5px;
    padding: 0em;
    width: 40%;
}

.contact-link-head {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1em;
    width: 100%;
    background-color: aqua;
    height: 6rem;
}

.contact-link-head h2 {
    margin: 0;
    font-size: 2em;
    /* font-weight: 700; */
}

.contact-link-card {
    display: flex;
    flex-direction: row;
    height: 8em;
    width: 22em;
    margin: 1em;
}

.contact-link-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.contact-link-left {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2em;
}

.contact-link-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

.contact-link-img {
    width: auto;
    height: 3em;

}

.contact-link-text {
    font-size: 0.9em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.contact-link-wsp {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
}

.contact-link-rs {
    height: 1em;
    padding: 0;
    margin: 0;
}

@media screen and (min-width:1024px)and (max-width:1366px) {
    .contact-body {
        gap: 4em;
        margin: 2em auto;
    }

    .contact-links {
        width: 50%;
    }

    .contact-link-card {
        width: 90%;
    }
}

@media screen and (min-width:768px)and (max-width:1023px) {
    .contact-body {
        gap: 4em;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    form {
        width: 100%;
        height: auto;
    }

    .contact-links {
        margin-bottom: 5em;
        width: 70%;
        margin: 0 0 1em;
    }

    .contact-link-head {
        font-size: 1.5em;
    }

    .contact-link-phone {
        top: 0px;
        right: 71%;
    }
}

@media screen and (min-width:321px)and (max-width:767px) {
    .contact-body {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        gap: 2em;
        width: 90%;
    }

    form {
        width: 100%;
        height: auto;
    }

    .header-contact {
        font-size: 1em;
        margin: 0;
        padding: 0;
    }

    .btn-send {
        margin: 1em;
    }

    .contact-links {
        margin: 0 0 1em;
        width: 100%;

    }

    .contact-link-card {
        display: flex;
        flex-direction: row;
        height: 8em;
        width: 95%;
    }

    .contact-link-head {
        text-align: center;
        font-weight: 700;
        font-size: 1em;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width:320px) {
    .contact-body {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        gap: 2em;
        width: 90%;
    }

    form {
        width: 100%;
        height: auto;
    }

    .header-contact {
        font-size: 1em;
        margin: 0;
        padding: 0;
    }

    .btn-send {
        margin: 1em;
    }

    .contact-links {
        margin: 0 0 5em;
        width: 100%;
    }

    .contact-link-card {
        display: flex;
        flex-direction: row;
        height: 8em;
        width: 95%;
    }

    .contact-link-head {
        text-align: center;
        font-weight: 700;
        font-size: 1em;
        margin: 0;
        padding: 0;
    }

    .contact-link-phone {
        top: 0px;
        right: 65%;
    }
}